@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;1,200&display=swap');
/* Josefin Sans -> font-family: 'Josefin Sans', sans-serif; */
/* Paleta de colores -> "gris": #E7E7DD
                        "agua?": #008A93
                        "azul marino": #00597D
                        "azul oscuro": #03305A
                        
*/
/*
Color del background -> #E7E7DD
Color del navbar -> #008a93
Color de proyectos -> #00597d
color de los proyectos -> #adadad30
Color de contacto -> #033065a
*/


* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

body{
    margin: 0;
    background: #E7E7DD;
}

/* cabecera / navbar */
.header {
    width: 100%;
    height: 60px;
    background: #008A93;
    box-shadow: 0 1px 8px 8px #0000004f;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 4;
    transition: top .3s;
}

.header-container{
    width: 80%;
    padding: 10px;
}

.navBar{
    display: flex;
    justify-content: center;
}

.navBar-links {
    width: 60%;
    height: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    height: 100%;
    display: inherit;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.link::after {
    width: 100%;
    height: 3px;
    content: "";
    background: #fff;
    position: absolute;
    top: 90%;
    left: -100%;
    transition: .3s ease-in-out;
}

.link:hover::after {
    left: 0;
    transition: .3s ease-in-out;
}

.link a {
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

/* acerca */
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.hero-container {
    width: 80%;
    height: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title, .hero-subtitle, .hero-text {
    text-align: center;
    margin: 0;
}

.hero-title {
    margin-bottom: 10px;
    font-size: 1.7rem;
}

.hero-subtitle {
    margin-bottom: 6.5px;
    font-size: 1.5rem;
}

/* proyectos */

.projects {
    width: 100%;
    height: 1400px;
    background: #00597D;
    display: flex;
    justify-content: center;
}

.projects-container {
    width: 80%;
    padding: 20px 15px;
}

.projects-wrapper {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.projects-title {
    width: fit-content;
    margin: 7px;
    padding-bottom: 3px;
    font-size: 1.3rem;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.project {
    width: 80%;
    height: 300px;
    background:  linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, 0.5)), url(../img/test.jfif);
    background-position: center;
    background-size: cover;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 3px 0 #2d2d2d;
}

.project-hide-content {
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
}



.project-text {
    padding: 10px;
    opacity: 0;
    transition: .5s;
}

.project-description {
    padding: 10px;
    opacity: 0;
    transition: .5s;
}

.project-link {
    text-decoration: none;
    padding: 10px;
    color: #fff;
    background: #fff3;
    border-radius: 5px;
    opacity: 0;
    transition: .5s;
}

.project-link:hover {
    color: #008A93;
}

.project-hide-content:hover {
    background: #adadad30;
    transition: .5s;
}

.project-hide-content:hover .project-text {
    opacity: 1;
    transition: .5s;
}

.project-hide-content:hover .project-description {
    opacity: 1;
    transition: .5s;
}

.project-hide-content:hover .project-link {
    opacity: 1;
    transition: .5s;
}

.projects-detail {
    width: 100%;
    height: 10%;
    padding-left: 7px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.projects-detail-title {
    margin: 5px 0;
}

.techs {
    width: 100%;
    height: fit-content;
    padding-top: 10px;
    display: inherit;
    align-items: center;
    flex-wrap: wrap;
}

.technology {
    margin: 0 0 .625rem .625rem;
    padding: 6px;
    background: #008A93;
    border-radius: 10px;
}

.contact {
    width: 100%;
    height: 180px;
    background: #03305A;
    color: #fff;
    display: flex;
    justify-content: center;   
}

/* contacto */
.contact-container {
    width: 80%;
    padding: 20px 15px;

}

.contact-title {
    width: fit-content;
    margin: 7px;
    padding-bottom: 3px;
    font-size: 1.3rem;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.contact-wrapper {
    height: 60%;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-social {
    display: flex;
    align-items: center;
}

.mail-text, .social-text, .email {
    font-size: 1.2rem;
}

.email{
    padding-left: 10px;
    text-decoration: none;
    color: #fff;
}


.linkedin-link {
    padding-left: 10px;
    color: #fff;
}

/* mobile settings */
.mobile-menu-btn {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid #008A93;
    border-radius: 50%;
    box-shadow: 0 0 1px 2px #0003;
    cursor: pointer;
    display: none;
    position: relative;
}

.mobile-menu-back {
    width: 100%;
    height: 100%;
    background: #000000a6;
    display: none;
    position: fixed;
    opacity: 0;
    transition: .3s;
}

.mobile-menu {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    position: fixed;
    left: -100%;
    transition: .3s;
}

.mobile-menu-content {
    width: 70%;
    height: 100%;
    background: #008a938f;
}

.mobile-nav {
    height: 200px;
    background: #008a93;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-btn {
    width: 1rem;
    height: 1rem;
    padding: 3px;
    cursor: pointer;
    position: relative;
    left: 95%;
}

.mobile-link {
    padding: 1rem 1rem 1rem 2.25rem ;
    text-decoration: none;
    color: #fff;
}

.menu-icon {
    position: absolute;
    top: 20%;
    left: 20%;
}



/* animations classes */
.hideNav {
    box-shadow: none;
    top: -60px;
    transition: .3s;
}

.hide-nav-mobile {
    display: none;
}

.show-background {
    opacity: 1;
    transition: .3s;
}

.slide-menu {
    left: 0;
    transition: .3s;
}


/* media queries */
@media screen and (max-width: 768px){
    .header-container {
        width: 100%;
    }

    .navBar {
        height: 100%;
        justify-content: normal;
        align-items: center;
    }

    .mobile-menu-btn {
        display: block;
    }

    .navBar-links {
        display: none;
    }

    .mobile-menu-back {
        display: block;
    }

    .hero-container {
        width: 90%;
    }

    .projects-container {
        width: 90%;
    }

    .project {
        width: 100%;
    }

    .contact-container {
        width: 90%;
    }
}

@media screen and (max-width: 425px){
    .hero-container {
        width: 100%;
    }

    .projects-container {
        width: 100%;
    }

    .contact-container {
        width: 100%;
    }
}